/* if the viewport is equal to 340px or less than that */
@media only screen and (max-width: 340px) {
  .header_area .main-menu .navbar,
  .header_area .main-menu .navbar .navbar-brand,
  .site-main .subscribe-us-area .subscribe .subscribe-title,
  .site-main .subscribe-us-area .subscribe .subscribe-title p,
  h4,
  .site-main .services-area,
  .site-main .subscribe-us-area .subscribe {
    padding: 2%;
    margin: 0%;
  }

  .site-main .site-banner .site-title h1 {
    font-size: 41px;
  }

  .site-main .subscribe-us-area .subscribe form .input-textbox input {
    width: 15rem !important;
  }

  .site-main > .services-area .services {
    width: 13rem;
  }
}
@media only screen and (max-width: 575px) {
  .site-main .site-banner {
    background-image: none;
  }
  .site-main .site-banner .banner-image {
    display: none;
  }
  .site-title {
    margin: 30px 0;
  }
  .site-main .site-banner .site-title h1 {
    font-size: 2rem;
  }
  .site-title .site-buttons {
    margin-top: 0.5rem;
  }
  .site-main .site-banner .site-title h4 {
    line-height: 1;
  }
}
@media only screen and (max-width: 755px) {
  .back {
    width: 45px;
    height: 45px;
  }
  .footer-area .main-container .copy-right {
    width: 100%;
    flex: none !important;
  }
  .footer-area .main-container {
    flex-wrap: wrap;
    flex-direction: column-reverse;
  }
  .main-container .right-footer {
    flex-wrap: wrap;
    flex: none !important;
    width: 100%;
  }
  .footer-area .main-container .right-footer .contact {
    width: 100%;
  }
  .site-main .site-banner .banner-image {
    height: 400px;
  }
}
/* if the viewport is equal to 340px or less than that */
@media only screen and (max-width: 792px) {
  .site-main .about-area .about-title h2 > span {
    font-size: 31px;
    letter-spacing: 10px;
  }

  .site-main .brand-area .experience-area .years-area {
    padding-left: 1%;
    width: 49%;
  }

  .site-main .brand-area .experience-area .bg-panel {
    margin-left: 30%;
    width: 80%;
  }

  .site-main .brand-area .experience-area .call-area {
    padding-left: 3%;
  }

  .site-main .project-area .button-group button {
    font: normal 500 18px/40px var(--roboto);
  }

  .site-main .about-area .about-title p {
    padding: 0%;
  }

  .site-main .subscribe-us-area .subscribe form .input-textbox input {
    width: 20rem;
    margin: 5%;
  }
  :root {
    --p-d-30: 15px;
  }
  .products {
    padding: 25px 20px;
  }
  .banner-product-project {
    max-width: 70%;
  }
}

@media only screen and (max-width: 991px) {
  .footer-area .main-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }
  .footer-area .main-container .copy-right {
    flex: 2;
  }
  .footer-area .main-container .right-footer {
    flex: 3;
  }
  .footer-area .main-container .contact {
    width: 50%;
  }

  .site-main .site-banner .site-title h1 {
    line-height: 2.5rem;
    font-size: 2rem;
  }
  .site-buttons {
    margin-top: 2rem;
  }
}
@media only screen and (max-width: 1032px) {
  .site-main .site-banner {
    background-position: 0% 0;
    background-repeat: no-repeat;
    background-attachment: local;
    background-size: contain;
  }
}
/* if the viewport is equal to 1910px or less than that */
@media only screen and (max-width: 1910px) {
  .header_area .main-menu .navbar {
    padding: 1rem;
  }

  .container {
    max-width: 90%;
  }

  .site-main .brand-area,
  .site-main .services-area .services-title,
  .site-main .about-area {
    padding: 3% 4%;
  }
}

@media only screen and (min-width: 992px) {
  .site-main .site-banner .banner-image {
    height: 600px;
  }
}

@media only screen and (min-width: 756px) and (max-width: 991px) {
  .site-main .site-banner .banner-image {
    height: 500px;
  }
}
