/* css variables */
@import url(./partials/_variables.css);

/* import global styling */
@import url(./partials/_global.css);
/* start navigation */
.main-menu {
  background-color: var(--main-color);
  /* height: 100vh; */
  background-attachment: fixed;
  background-position: left;
  background-repeat: no-repeat;
  background-size: cover;
}
.header_area .main-menu .navbar .navbar-brand {
  padding: 0 2rem 0 5rem;
}

.header_area .main-menu .navbar {
  padding: 1rem 20rem;
}

.header_area .main-menu .nav-item .nav-link {
  font: normal 500 15px/2px var(--roboto);
  text-transform: uppercase;
  padding: 1.7rem;
  color: var(--title-color);
}

.header_area .main-menu .navbar-nav .active a {
  background: var(--gradient-color);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.header_area .main-menu .navbar-nav a:hover {
  background: var(--gradient-color);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

/* Banner Area */

.site-main .site-banner {
  background-image: url('../images/avt.png');
  background-attachment: fixed;
  background-position: 0% 0;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
  background-repeat: no-repeat;
  background-color: var(--main-color);
}
.site-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.site-main .site-banner .site-title h3 {
  padding-top: 0;
  font-weight: 500;
}

.site-main .site-banner .site-title h1 {
  font-size: 2rem;
}

.site-main .site-banner .site-title h4 {
  font-size: 1rem;
  font-weight: 400;
}

.text-hi {
  -webkit-text-stroke: 1px #282828;
  color: transparent;
}
.site-buttons {
  margin-top: 0.5rem;
}

.main-container {
  max-width: 90%;
  margin: 0 auto;
}
.banner-product-project {
  max-width: 70%;
  margin: 0 auto;
}
.row.flex {
  flex-wrap: nowrap;
}
.column1 {
  width: 30%;
}
.column2 {
  width: 70%;
}
.flex {
  display: flex;
}
.column1 .element-item:not(:last-child) {
  margin-bottom: var(--p-d-30);
}
.column21 .element-item:not(:last-child) {
  margin-bottom: var(--p-d-30);
}
.column21 .element-item:first-child {
  margin-right: var(--p-d-30);
}

.column2 {
  margin-left: var(--p-d-30);
}
.bottom .column3 {
  display: flex;
}
.bottom .column3 .element-item.element-item:not(:last-child) {
  padding-right: var(--p-d-30);
}
.footer-area {
  background-color: #282828;
  height: auto;
  margin-top: 65px;
  color: #ffffff;
  display: flex;
  align-items: flex-end;
  position: relative;
}
.footer-area .main-container {
  display: grid;
  grid-template-columns: 50% 50%;
  align-items: flex-end;
}
.footer-area .social h4 {
  padding-bottom: var(--p-d-30);
}
.footer-area .social .icons {
  margin-bottom: 0.5rem;
}
.footer-container {
  padding: 50px 0 10px;
}
.main-container {
  max-width: 90%;
  margin: 0 auto;
}
.footer-container {
  width: 100%;
}
.right-footer {
  display: flex;
  justify-content: space-between;
}
.back {
  position: absolute;
  width: 60px;
  height: 60px;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
}
.products {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 20px;
}
.banner-product {
  max-width: 90%;
  background-color: var(--main-color);
  margin: 0 auto;
  margin-top: 50px;
}
.banner-product-project {
  max-width: 60%;
  margin: 0 auto;
}
.flex.grid {
  overflow: hidden;
  margin-bottom: var(--p-d-30);
}
.social,
.copy-right,
.contact {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.main-banner-product .owl-stage {
  display: flex;
  align-items: center;
}
.owl-carousel .owl-item img {
  margin: 0 auto;
  max-width: 100%;
  width: 90px;
  height: 50px;
  object-fit: contain;
}
.banner-graphic {
  height: 600px;
  width: 100%;
  background-image: url(../images/banner.jpg);
  background-size: contain;
  display: block;
}
.site-main .category {
  margin: 3rem 0;
}

.site-main .category .list-category {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.site-main .category .list-category:not(:last-child) {
  /* width: 25%; */
  margin-bottom: 2rem;
}
.site-main .category .list-category .item span {
  display: block;
  position: relative;
  padding: 5px 10px;
  cursor: pointer;
  overflow: hidden;
}
.site-main .category .list-category .item span::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 0%;
  border: 2px solid transparent;
  border-left: none;
  border-bottom: none;
}
.site-main .category .list-category .item span::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 0%;
  border: 2px solid transparent;
  transform: translateX(100%);
}

.site-main .category .list-category .item span:hover::before {
  transition: width 0.25s ease 0s, height 0.25s ease 0.25s;
  border-color: #282828;
  width: 100%;
  height: 100%;
}

.site-main .category .list-category .item span:hover::after {
  transition: transform 0.25s ease 0.5s, height 0.25s ease 0.75s;
  transform: translateX(0);
  border-color: #282828;
  border-right: none;
  border-top: none;
  width: 100%;
  height: 100%;
}
section.products .list-product {
  display: flex;
  flex-wrap: wrap;
  flex-flow: row wrap;
}
section.products .list-product .product {
  width: calc(100% / 3);
  height: 380px;
  padding: 0 15px 15px;
}
section.products .list-product .product .info span {
  display: block;
}
section.products .list-product .product .info span:nth-child(3) {
  font-style: italic;
}
section.products .list-product .product .info {
  margin: 0 auto;
  border: 1px solid #282828;
  padding-left: 8px;
}
section.products .list-product .product img {
  width: 100%;
  height: 280px;
  object-fit: cover;
  display: block;
  /* margin: 0 auto; */
}
section.products .list-product .product:nth-child(3n) {
  margin-bottom: 2rem;
}
